@import "./layout";

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: sans-serif;
  font-size: 16px;
  // border:10px solid red;

  --activeColor: #3700ff;
}

.inputGroup {
  position: relative;
  height: 40px;
  margin-bottom: 30px;
  width: 220px;

  svg {
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 2;
  }

  .textInput {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #707070;
    padding-left: 35px;

    &::placeholder {
      // opacity: .5;
      color: #aaa;
      font-style: italic;
    }

    &:focus {
      outline: none;
      border-bottom: 1px solid var(--activeColor);
    }
  }
}

.btn {
  font-size: 16px;
  padding: 9px 15px 8px 15px;
  border-radius: 7px;
  cursor: pointer;

  &.btnDefault {
    background: linear-gradient(#ffffff, #e2e2e2 95%, #989898);
    // color: white;
    border: 1px solid #afafaf;

    &:active {
      background: linear-gradient(#e2e2e2, #f2f2f2);
    }
  }

  &.btnPrimary {
    background: linear-gradient(#3391cc, #106498 95%, #1a4966);
    color: white;
    border: 1px solid #4a789f;

    &:active {
      background: linear-gradient(#106498, #1a4966);
    }
  }

  &.btnDanger {
    background: linear-gradient(#cc3333, #981010 95%, #661a1a);
    color: white;
    border: 1px solid #9f4a4a;

    &:active {
      background: linear-gradient(#981010, #661a1a);
    }
  }
}

.tablica {
  font-size: 16px;
  padding: 9px 15px 8px 27px;
  border-radius: 7px;
  box-shadow: inset 0px 0px 0px 1px #222;
  border: 1px solid #222;
  display: inline-block;
  font-weight: bold;
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 100%;
    background: #0065a3;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  &.input {
    width: 135px;
    height: 37px;
    margin-right: 18px;
  }
  .tablicaInput {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding-left: 27px;
    font-weight: bold;
    font-size: 16px;
    line-height: 37px;
    border-radius: 7px;
    background: transparent;
    &::placeholder {
      color: #aaa;
    }
  }
  .tablicaLabel {
    position: absolute;
    top: calc(100% + 5px);
    left: 0px;
    border: 0;
    width: 133px;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    padding: 5px;
    padding-left: 17px;
    &::placeholder {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #ababab;
    }
  }
}

.tableLine {
  height: 1px;
  width: 100%;
  background: #cacaca;
  margin-top: 30px;
}

.info {
  font-size: 16px;
  padding: 9px 15px 8px 15px;
  border-radius: 7px;
  display: inline-block;

  &.infoGreen {
    background-color: #dcf2db;
    border: 1px solid #a2d1a0;
  }
  &.infoRed {
    background-color: #ffcece;
    border: 1px solid #ea9a9a;
  }
}

.loginLogo {
  margin-bottom: 30px;
}

p {
  line-height: 1.8;
}

a,
a:visited,
a:active {
  color: var(--activeColor);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#loginButton {
  margin-bottom: 30px;
  margin-top: 10px;
}

#loginForm {
  margin: 0;
  padding: 0;
}

.register {
  text-align: center;
}
#header {
  padding: 20px 40px;
  .topLink {
      margin-left: 40px;
      svg {
          vertical-align: middle;
          margin-right: 8px;;
          position: relative;
          top:-1px;
      }
  }
}

#mainTable {
  width: 900px;
  margin: auto;

  .col-1 {
    width: 60px;
  }
  .col-3,
  .col-4 {
    width: 192px;
    text-align: right;
    padding-right: 10px;
  }

  .tableHeader {
    background-color: #f8f8f8;
    border-bottom: 1px solid #c6c6c6;
    height: 65px;
    line-height: 65px;
    font-weight: bold;
  }
  .tableRow {
    padding: 30px 0px 10px 0px;
  }
}

.tablicaOuter {
  position: relative;
  .label {
    position: absolute;
    left: 15px;
    top: calc(100% + 5px);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    color: #aaa;
  }
}
